.img-bubble {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

@media only screen and (max-width: 992px) {  
    /* .container {    
      flex-direction : column;  
    }   */
    .about-text {
      order : 2;   
    }  
    .about-img {
           order : 1;
     } 
 }