body {
  font-family: Montserrat,sans-serif;
  padding-top: 70px;
  max-width: 100%;
  min-width: fit-content;
  margin: auto;
}

.wrapper {
  min-height: 100vh;
}

.section-header {
  font-size: 2rem;
  margin: 20px;
  text-align: center;
}

.black-text {
  color: black;
}

.white-text {
  color: white;
}

.button {
  padding: 20px;
  margin: 10px;
  border: none;
  color: white;
  border-radius: 30px;
  transition: transform 0.25s ease-in-out;
}

.button-consultations {
  background-color: rgba(0, 0, 0, 0.375);
}

.button-black {
  background-color: black;
}

.button:hover {
  transform: scale(0.85);
}

.services-img {
  padding: 0 !important;
  color: white;
  width: 100%;
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services-img a {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  transition: all 0.2s ease-in-out;
}

.services-img a:hover {
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}

.services-img a:hover span {
  text-decoration: underline;
}

.plantation-shutters {
  background-image: url("../images/gallery/IMG_5128.jpg");
}

.solar-shades {
  background-image: url("../images/gallery/IMG_5127.jpg");
}

.motorization {
  background-image: url("../images/gallery/solarshades/IMG_5186.jpg");
}

.view-all {
  background-image: url("../images/gallery/IMG_5139.jpg");
}

.global-btn {
  background-color: white;
  color: black;
  padding: 10px;
  border: 1px solid black;
  transition: background-color 0.25s ease;
}

.global-btn:hover {
  background-color: black;
  color: white;
}

.img-div {
  height: 400px;
}

.gallery-img {
  object-fit: cover;
}